.jumbotron {
    background-color: #ff7675;
    color: azure;
    text-align: center;
    margin-top: 50px;
}

footer {
    background-color: #ff7675;
    padding: 50px;
    margin-top: 20px;
    width: 100%;
}

.card-hotel {
    flex: 1 200px;
    margin-top: 10px;
    display: inline-block;
}

.card-hotel:hover {
    background-color: #dff9fb;
}

.btn-reserva {
    width: 100%;
    background-color: #10ac84;
    color: white;
    border-radius: 0;
}

.btn-reserva:hover {
    background-color: #1dd1a1;
    color: white;
}

.des-producto {
    margin: 0px 20px 0px 20px;
}

.footer-address-icon {
    padding-right: 8px;
}

#headerDestacados {
    position: relative;
    display: inline-block;
}

.titulo-destacados {
    position: absolute;
    top: 20%;
    left: 10%;
}

#myTabContent {
    padding-top: 10px;
}

.btn-informativo {
    width: 100%;
    justify-content: space-between;
    height: 100%;
}

.fondo {
    border-radius: 5px;
}